@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");

:root {
  --primary: #00d1ff;
  --secondary: #4da3ff;
  --text: #e6edf3;
  --bg: #0b0f14;
  --muted: #8b9cb0;
  --cards: #121821;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Mozilla Text", sans-serif;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  color: var(--text);
  text-align: center;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}
